<header>
  <div class="container">
    <nav class="navbar fixed-top bg-dark px-5">
      <%= link_to 'sample app', root_path, class: 'logo', id: 'logo' %>
      <ul class="nav">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: 'nav-link text-white' %>
        </li>

        <li class="nav-item">
          <%= link_to 'Help', help_path, class: 'nav-link text-white' %>
        </li>

        <% if logged_in? %>
          <li><%= link_to 'Users', '#', class: 'nav-link text-white' %></li>
          <li class="dropdown">
            <a
              id="account"
              href="#"
              class="nav-link text-white dropdown-toggle"
            >
              Account <b class="caret"></b>
            </a>
            <ul id="dropdown-menu" class="dropdown-menu">
              <!-- current_user <=> user_path(current_user) -->
              <li>
                <%=
                  link_to 'Profile', current_user, class: 'nav-link text-white'
                %>
              </li>
              <li>
                <%= link_to 'Settings', '#', class: 'nav-link text-white' %>
              </li>
              <li class="divider"></li>
              <li>
                <%=
                  link_to 'Log out',
                          logout_path,
                          class: 'nav-link text-white',
                          data: {
                            "turbo-method": :delete,
                          }
                %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Log in', login_path, class: 'nav-link text-white' %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
